* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

.headerlogo {
    display: inline-block;
}

.navbar {
    position: relative;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

ul li {
    display: inline-block;
    padding: 20px;
    font-size: 20px;
}

header {
    background-color: white;
}

a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

body {

}

.intro-text {
    border: 2px solid black;
    width: 50%;
    height: 300px;
    margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: red;
    text-align: center;
    border-radius: 20px;
}

h1 {
    font-size: 4em;
    margin: 40px;
}

.intro-text p {
    font-size: 20px;
    width: 100%;
}

.header h1 {
    font-size: 3em;
    text-align: center;
}

.coding {
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    float: left;
    width: 25%;
    height: 30%;
    margin: auto 20px;
    padding: 10px;
    border-radius: 15px;
}

.coding h2 {
    padding: 10px;
}

.coding p {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.surg-tech {
    border: 1px solid black;
    position: relative;
    float: center;
    width: 25%;
    height: 30%;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
}

.surg-tech h2 {
    padding: 10px;
    text-align: center;
}

.surg-tech p {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}